//21130220_DangHuuTrong_0833535010_DH21DTA
$color-brick-lv1:#87CEEB;
$color-brick-lv2:#2E8B57;
$color-brick-lv3:#FFD700;
$color-brick-lv4:#FF6347;
$color-stone:#808080;
$color-button-back:#A9A9A9;
$color-contrast: linear-gradient(45deg,#87CEEB,#FF6347);
$color-similar: linear-gradient(45deg,#2E8B57,#FFD700);
$color-pad:#cfff00;

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


:root{
  --ball-left: 0;
  --ball-top: 0;
  --pad-left:0;
  --power-up-left:0;
  --power-up-top:0;
  --stone-move-left:0;
  --stone-move-top:0;
  --bullet-down-left: 0;
  --bullet-down-top: 0;
}
.lobby {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: black;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  @mixin option-element() {
    background-color: purple;
    padding: 1% 2% 1% 2%;
    margin: 0.5em;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all .3ms ease;
    -o-transition: all .3ms ease;
    transition: all .3ms ease;
    font-weight: bold;
    font-size: 32px;
    color: white;
    cursor: default;
  }
  @mixin hover-menu() {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: yellow;
  }

  .title-game {
    cursor: default;
    font-size: 16vh;
    background: -o-linear-gradient(45deg, yellow, purple);
    background: linear-gradient(45deg, yellow, purple);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55vh;
    width: 50vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: yellow;
    border: 2px yellow solid;
    border-radius: 5px;
    text-align: center;
    color: black;

    .play {
      @include option-element;

      &:hover {
        @include hover-menu();
      }
    }

    .option {
      @include option-element;

      &:hover {
        @include hover-menu();
      }
    }

    .instructions {
      @include option-element;

      &:hover {
        @include hover-menu();
      }
    }

    .introduce {
      @include option-element;

      &:hover {
        @include hover-menu();
      }
    }
  }

  .option-modal {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 5px 90%;
    grid-template-rows: 10% 90%;
    height: 50%;
    width: 50%;
    border: 2px yellow solid;
    background-color: purple;
    border-radius: 5px;

    .option-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .back {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: $color-button-back;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        font-weight: bold;
        cursor: default;

      }

      .option-title {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        background: -o-linear-gradient(45deg, #FFD700, white);
        background: linear-gradient(45deg, #FFD700, white);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        pointer-events: none;
      }

      .space {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
    }

    .option-level {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 5px auto;
      grid-template-columns: repeat(2, auto);
      grid-gap: 5px;


      border-radius: 5px;
      color: black;
      place-items: center;

      .level {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 75%;
        width: 75%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #FFD700;
        border: 2px purple solid;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
          @include hover-menu;
        }
      }
    }
  }

  .instructions-modal {

    display: -ms-grid;

    display: grid;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
    height: 50%;
    width: 50%;
    border: 2px purple solid;
    border-radius: 5px;
    background-color: yellow;
    overflow: hidden;


    .instructions-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .back {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: $color-button-back;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        cursor: default;

      }

      .instructions-title {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        background: -o-linear-gradient(45deg, #FFD700, purple);
        background: linear-gradient(45deg, #FFD700, purple);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        cursor: default;
      }

      .space {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
    }

    .instructions-content {

      width: 100%;
      height: auto;

      overflow-y: scroll;
      scrollbar-width: none;
      h3{
        color:#FFD700;
      }
      p {
        color: purple;
        margin:1em 1em 0 1em;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .introduce-modal {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
    height: 60%;
    width: 60%;
    border: 2px purple solid;
    border-radius: 5px;
    background-color: yellow;
    position: fixed;
    z-index: 1;
    visibility: hidden;

    .introduce-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .back {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: $color-button-back;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
        cursor: default;

      }

      .introduce-title {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        background: -o-linear-gradient(45deg, #FFD700, purple);
        background: linear-gradient(45deg, #FFD700, purple);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        cursor: default;
      }

      .space {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        cursor: default;
      }
    }
    .introduce-content{
      h3{
        text-align: center  ;
        margin: 1em 0 1em 0;
      }
      p{
        margin-left: 1em;
      }
    }
  }
  .introduce-show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    @-webkit-keyframes fadeIn {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  }
}

//Modal Game
//Start
.modal-content{
  .modal-header{
    text-align: center;
  }
  .modal-body{
    text-align: center;
  }
  .modal-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
//End


//Main Game

.main-container{
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  border: black 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: black;
  cursor: default;
  .brick-container{

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto;
    grid-template-columns: repeat(10, auto);
    grid-gap: 5px;
    pointer-events: none;
    @mixin lv($color){
      -webkit-box-shadow: inset 0 0 20px $color;
      box-shadow: inset 0 0 20px $color;
      border: 2px solid $color;
    }
    .brick{

      height: 5vh;
      background-color: rgb(0,0,0);
      -webkit-box-shadow: 0 0 5px #000;
      box-shadow: 0 0 5px #000;
      border-radius: 10px;
    }
    .broken{
      opacity: 0;
    }
    .stone{
      height: 5vh;
      background-color: $color-stone !important;
      -webkit-box-shadow: 0 0 5px #000;
      box-shadow: 0 0 5px #000;
      border-radius: 10px;
    }
    .stone-move{
      position: relative;
      height: 5vh;
      background-color: $color-stone !important;
      -webkit-box-shadow: 0 0 5px #000;
      box-shadow: 0 0 5px #000;
      border-radius: 10px;

      left: calc(var(--stone-move-left) * 1px);
      top: calc(var(--stone-move-top) * 1px);
    }
    .hole{
      height: 8vh;

      background-color: #A9A9A9;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 5px #000;
      box-shadow: 0 0 5px #000;
    }
    .lv0{
      -webkit-animation: blast 0.5s ease;
      animation: blast 0.5s ease;
      opacity: 0;
      @-webkit-keyframes blast {
        25%{
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
          opacity: 0.7;
        }
        50%{
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          opacity: 0.5;
        }
        75%{
          -webkit-transform: scale(1.7);
          transform: scale(1.7);
          opacity: 0.3;
        }
        100%{
          -webkit-transform: scale(2.0);
          transform: scale(2.0);
          opacity: 0;
        }
      }
      @keyframes blast {
        25%{
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
          opacity: 0.7;
        }
        50%{
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          opacity: 0.5;
        }
        75%{
          -webkit-transform: scale(1.7);
          transform: scale(1.7);
          opacity: 0.3;
        }
        100%{
          -webkit-transform: scale(2.0);
          transform: scale(2.0);
          opacity: 0;
        }
      }
    }
    .lv1{
      @include lv($color-brick-lv1);
    }
    .lv2{
      @include  lv($color-brick-lv2);
    }
    .lv3{
      @include  lv($color-brick-lv3);
    }
    .lv4{
      @include  lv($color-brick-lv4);
    }

  }
  #ball{
    position: absolute;
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    background-color: $color-brick-lv1;
    -webkit-box-shadow: inset 0 0 20px $color-brick-lv1;
    box-shadow: inset 0 0 20px $color-brick-lv1;
    left: calc(var(--ball-left) * 1px);
    top: calc(var(--ball-top) * 1px);

  }
  #pad{
    width: 15vw;
    height: 3vh;
    position: absolute;
    bottom: 5vh;
    background: rgb(255, 255, 255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(208, 208, 208, 1)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(0, 0, 0);
    border: 3px solid $color-pad;
    -webkit-box-shadow: inset 0 0 20px $color-pad;
    box-shadow: inset 0 0 20px $color-pad;
    border-radius: 10px;
    left: calc(var(--pad-left) * 1px);
    .pad-left{
      height: 100%;
      width: 20%;
      -webkit-box-shadow: inset 0 0 20px #ec00ff;
      box-shadow: inset 0 0 20px #ec00ff;
      border: 3px solid #ec00ff;
      background-color: black;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      -webkit-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
      transform: translate(-5px, 0);
    }
    .pad-right{
      height: 100%;
      width: 20%;
      -webkit-box-shadow: inset 0 0 20px #ec00ff;
      box-shadow: inset 0 0 20px #ec00ff;
      border: 3px solid #ec00ff;
      background-color: black;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      -webkit-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
      transform: translate(5px, 0);
    }
  }
  .power-up{
    position: absolute;
    height: 4vh;
    width: 4vh;
    background-color: $color-brick-lv2;
    border-radius: 100%;
    left: calc(var(--power-up-left) * 1px);
    top: calc(var(--power-up-top) * 1px);
  }
  .power-ball{
    height: 5vh !important;
    width: 5vh !important;
    background-color: $color-brick-lv2 !important;
    border-radius: 100%;
  }
  .bullet-down{
    position: absolute;
    height: 2vh;
    width: 2vh;
    background-color: $color-brick-lv4;
    border-radius: 100%;
    left: calc(var(--bullet-down-left) * 1px);
    top: calc(var(--bullet-down-top) * 1px);
  }

}

.score-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color-pad;
  padding: 10px;
  z-index: 1;
  div{
    font-size: 20px;
    span{
      font-weight: bold;
    }
  }
}
.score-info{
  margin: 10px;
  span{
    color: $color-pad;
    font-weight: bold;
    font-size: 32px;
  }
}

a{
  text-decoration: none;
}

.star-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .fa-star{
    margin:0 1em 0 1em;
    font-size: 32px;
    color: $color-pad;
  }
}
.btn-transparent{
  background-color: transparent;
  color: $color-pad !important;
}